/* fonte importada */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:  'Roboto', sans-serif;
    font-weight: 700;
}
/* Estilização do body*/
body {
    background-color: rgb(245, 245, 226);
}
/* configurações do conteudo do site */
.container {
    max-width: 1420px;
    margin: 0 auto;
}
/* configurações do cabeçalho do site */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.img-header{
    border-radius: 10px;
    opacity: 0.8;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;

}
nav ul li {
    list-style: none;
    
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color:rgb(8, 8, 88);
}
/* começo da estilização do conteudo do site */
.secão-principal {
    background-image: url(../img/vegetables-1085063_1920.jpg);
    background-position: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    opacity: 0.8;
    margin-top: 25px;
}
.secão-secundária {
    margin: 25px;
    padding: 5px;
}
.lista-produtos {
    list-style: none;
    
}
.lista-produtos img {
    border: 1px solid #e92727;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
p {
    letter-spacing: 2px;
    margin: 5px;
}
/* rodapé do site */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(243, 247, 247);
    width: 100%;
    opacity: 0.7;
}
.paragrafo-fim {
    text-align: center;
    margin-top: 15px;
}